#Car {
    display:none;
}

img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

h1 {
    text-align:center;
}

button {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

p {
    display:none;
    margin-left:auto;
    margin-right:auto;
}